<div class="devise-box" id="sign-up-box">
<%= image_tag "one_time_grey.png", id: "one-logo" %>    	

<h2>sign up.</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :format => :json, remote: true) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", id: "sign-up-button" %></div>
<% end %>

</div>