<!DOCTYPE html>
<html>
<head>
  <title>Onetime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false">
  </script>
  
  <script type="text/javascript">

  var map;
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        var mapOptions = {
            zoom: 3,
            center: new google.maps.LatLng(40.6700, -73.9400),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
              {
                  featureType:'all',
                  stylers:[
                  {visibility:'off'}
                ]
              },
              {
                  featureType:'water',
                  stylers:[
                  {visibility:'on'},
                  {lightness:-100}
                  ]
              }
            ],
        };

        var mapElement = document.getElementById('map');

        var map = new google.maps.Map(mapElement, mapOptions);


        $.ajax({
        url: '/stories',
        method: 'GET',
        dataType: 'json'
        }).done(function(data){
          $.each(data, function(idx, story){
            var coordinates = new google.maps.LatLng(story.latitude, story.longitude)
            var contentString = '<div id="marker-content">' + story.content.substring(0, 18) + '<a href="/stories/' + story.id + '" class="read-more-link">...Read more.</a></div>';
            var marker = new google.maps.Marker({
              position: coordinates,
              map: map,
              icon: '/assets/marker.png'
              });
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            google.maps.event.addListener(marker, 'click', function() {
              hideOverlayBoxes();
              map.setZoom(8);
              map.setCenter(marker.getPosition());
              infowindow.open(map,marker);

              setTimeout(function() {
                $('.read-more-link').on('click', function(e) {
                  console.log("clicked event")
                  e.preventDefault();
                  var $this = $(this);
                  $.get($this.attr('href'), function(data) {
                    hideOverlayBoxes();
                    $('#one-story-box').remove();
                    $('body').append(data);
                    $('#one-story-back').on('click', function(e) {
                      e.preventDefault();
                      $('#one-story-box').remove();
                    })
                  });
                  return false;
                });
              }, 100);

            });
          });

        });
    };

  </script>
</head>
<body>

<div id="container">
  <div id="user_nav">
    <%= link_to image_tag "logo.png", id: "logo" %>
    <div id="signed-in-links" <%= 'style="display:block;'.html_safe if user_signed_in? %>>
      Logged in as <strong id="email"><%= current_user.email if current_user %></strong>.
      <%= link_to "New story", new_story_path, id: "story-link" %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div> 
    <div id="welcome-links" <%= 'style="display:none;'.html_safe if user_signed_in? %>>  
        <%= link_to "Sign Up", new_user_registration_path, class: "d-link", id: "sign-up-link" %> |
        <%= link_to "Login", new_user_session_path, class: "d-link", id: "log-in-link"  %>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  

  <%= yield %>
</div>

<div id="map"></div>

<%= render :partial => "stories/form", :locals => {story: @new_story} %>
<%= render :partial => "layouts/log_in" %>
<%= render :partial => "layouts/sign_up" %>

</body>
</html>
